WCF/5AsyncFunctionsInWCF/ConsoleApp3/ConsoleApp3/Connected Services/ServiceReference1/GirishLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GirishLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GirishLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roll" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
</xs:schema>