WCF/4TableMovementIdeal/GuiTestAppWPF/GuiTestAppWPF/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPosition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOnline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTablePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOnlineStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>