WCF/4TableMovementIdeal/GuiTestAppWPF/GuiTestAppWPF/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TableMover" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ITableMover_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITableMover_GetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosition" />
  </wsdl:message>
  <wsdl:message name="ITableMover_MoveTable_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveTable" />
  </wsdl:message>
  <wsdl:message name="ITableMover_IsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="ITableMover_SendTablePosition_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendTablePosition" />
  </wsdl:message>
  <wsdl:message name="ITableMover_SendOnlineStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendOnlineStatus" />
  </wsdl:message>
  <wsdl:portType name="ITableMover">
    <wsdl:operation name="GetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableMover/GetPosition" message="tns:ITableMover_GetPosition_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableMover/MoveTable" message="tns:ITableMover_MoveTable_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableMover/IsOnline" message="tns:ITableMover_IsOnline_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTablePosition">
      <wsdl:output wsaw:Action="http://tempuri.org/ITableMover/SendTablePosition" message="tns:ITableMover_SendTablePosition_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOnlineStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/ITableMover/SendOnlineStatus" message="tns:ITableMover_SendOnlineStatus_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ITableMover" type="tns:ITableMover">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ITableMover_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetPosition">
      <soap12:operation soapAction="http://tempuri.org/ITableMover/GetPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MoveTable">
      <soap12:operation soapAction="http://tempuri.org/ITableMover/MoveTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <soap12:operation soapAction="http://tempuri.org/ITableMover/IsOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendTablePosition">
      <soap12:operation soapAction="http://tempuri.org/ITableMover/SendTablePosition" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOnlineStatus">
      <soap12:operation soapAction="http://tempuri.org/ITableMover/SendOnlineStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TableMover">
    <wsdl:port name="NetNamedPipeBinding_ITableMover" binding="tns:NetNamedPipeBinding_ITableMover">
      <soap12:address location="net.pipe://localhost/TableMover" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/TableMover</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>