WCF/3DuplexCommunication/WpfApp1/WpfApp1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Girish" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IGirish_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGirish_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IGirish_IsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="IGirish_SendDataCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendDataCallback" />
  </wsdl:message>
  <wsdl:message name="IGirish_SendOnlineCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendOnlineCallback" />
  </wsdl:message>
  <wsdl:portType name="IGirish">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGirish/GetData" message="tns:IGirish_GetData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IGirish/IsOnline" message="tns:IGirish_IsOnline_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDataCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IGirish/SendDataCallback" message="tns:IGirish_SendDataCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOnlineCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IGirish/SendOnlineCallback" message="tns:IGirish_SendOnlineCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IGirish" type="tns:IGirish">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IGirish_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IGirish/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <soap12:operation soapAction="http://tempuri.org/IGirish/IsOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendDataCallback">
      <soap12:operation soapAction="http://tempuri.org/IGirish/SendDataCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOnlineCallback">
      <soap12:operation soapAction="http://tempuri.org/IGirish/SendOnlineCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Girish">
    <wsdl:port name="NetNamedPipeBinding_IGirish" binding="tns:NetNamedPipeBinding_IGirish">
      <soap12:address location="net.pipe://localhost/GirishPipe" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/GirishPipe</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>